# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
/workspace.xml
/shelf/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Maven
# =========================
target/

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store

# =========================
# PostgreSQL / Local Config
# =========================
application-local.properties

# =========================
# Database / IDE
# =========================
/dataSources/
/dataSources.local.xml

# =========================
# HTTP Requests
# =========================
/httpRequests/

# =========================
# SQL Queries
# =========================
/queries/